
                <!-- Hero -->
                <div class="small-12 columns" ng-controller="heroController as vm">
                    <h4 class="color-white">Your expense tracker</h4>
                    <a href="#" class="button small">March 2015</a>
                    <a href="#" class="button small">vs Feb</a>
                    <div class="right">
                        <a href="#" class="button small">Week</a>
                        <a href="#" class="button small">Month</a>
                        <a href="#" class="button small">Year</a>
                    </div>
                      <highchart id="chart1" config="vm.chartConfig" class="small-12"></highchart>
                </div>
                <!-- /Hero -->
