<!-- transactions -->
    <table ng-table="tableParams" class="table small-12 ">
        <tr ng-repeat="transaction in $data">
            <td data-title="'Description'">
                <span ng-if="!transaction.isEditing">{{transaction.description}}</span>

                <div ng-if="transaction.isEditing"><input class="form-control" type="text" ng-model="transaction.description"/></div>
            </td>
            <td data-title="'Date'" width="200">
                <span ng-if="!transaction.isEditing">{{transaction.date | date : format : short  }}</span>

                <div ng-if="transaction.isEditing"><input class="form-control" type="text" ng-model="transaction.date"/></div>
            </td>
            <td data-title="'Category'" width="200">
                <span ng-if="!transaction.isEditing">{{transaction.category }}</span>

                <div ng-if="transaction.isEditing">
                    <select class="form-control" ng-model="transaction.category" ng-options="c as c for c in vm.categories">
                    </select>
                </div>
            </td>
            <td data-title="'Amount'" width="200">
                <span>{{transaction.amount | currency  }}</span>
            </td>
            <td data-title="'Actions'" width="200">
                <a ng-if="!transaction.isEditing" href="" class="btn btn-default btn-xs" ng-click="transaction.isEditing = true">Edit</a>
                <a ng-if="transaction.isEditing" href="" class="btn btn-primary btn-xs" ng-click="vm.save(transaction)">Save</a>
            </td>
        </tr>
    </table>
<!-- /transactions -->
