<!-- transactions -->
    <table class="table small-12 ">
        <tr>
            <td data-title="'Description'">
                <span>Tran Desc</span>

                <div><input class="form-control" type="text" /></div>
            </td>
            <td data-title="'Date'" width="200">
                <span>Date</span>

                <div><input class="form-control" type="text" /></div>
            </td>
            <td data-title="'Category'" width="200">
                <span>Category</span>

                <div >
                    <select class="form-control">
                    </select>
                </div>
            </td>
            <td data-title="'Amount'" width="200">
                <span>Amount</span>
            </td>
            <td data-title="'Actions'" width="200">
                <a href="" class="btn btn-default btn-xs">Edit</a>
                <a href="" class="btn btn-primary btn-xs">Save</a>
            </td>
        </tr>
    </table>
<!-- /transactions -->
