
				<!-- Widget Summary -->
					<li class="title text-left">
						Balance Summary
					</li>
					<li class="description text-left">
						<p class="small-12">Current Balance<span class="amount right">{{vm.creditcard.currentBalance | currency}}<span></p>
						<p class="small-12">Previous Statement<span class="amount right">{{vm.creditcard.previousStatement | currency}}<span></p>
					</li>
					<li class="cta-button">
						<a href="#" class="small success button">Make a Payment</a>
					</li>
				<!-- /Widget Summary -->
