
				<!-- Widget Points -->
				<li class="title text-left">
					Bonus Points Tracker
				</li>
				<li class="description">
					<highchart id="chart2" config="vm.chartConfig" class="small-12 columns chart"></highchart>
					<p class="small-12">You are only {{(1000 - vm.creditcard.currentPoints) | currency}} away from earning 2x points.</p>
				</li>
				<li class="description text-left">
					<p class="small-12">Current Points<span class="amount right"> $868</span></p>
					<p class="small-12">Previous Points<span class="amount right">$700</span></p>
					<p class="small-12 text-center"><a class="underline" href="">See Your Points Rewards</a></p>
				</li>
				<!-- /Widget Points -->
